* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: 
    linear-gradient(135deg, transparent 84px, #d95b43 84px, #d95b43 100px, #ecd078 100px, #ecd078 106px, #c02942 106px, #c02942 120px, #ecd078 121px, #ecd078 127px, #542437 127px, #542437 142px, #ecd078 142px, #ecd078 148px, #53777a 148px, #53777a 163px, #ecd078 163px, #ecd078 168px, #d95b43 169px), 
    linear-gradient(135deg, #d95b43 15px, #d95b43, #ecd078 15px, #ecd078 21px, #c02942 21px, #c02942 36px, #ecd078 36px, #ecd078 42px, #542437 42px, #542437 57.5px, #ecd078 57px, #ecd078 63px, #53777a 63px, #53777a 78px, #ecd078 78px, #ecd078 84px, transparent 84px, transparent 99px);
    background-size: 120px 120px;
}

header {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    /* position: absolute;
    top: 0; */
    background-color: transparent;
    backdrop-filter: blur(8px);
}
.header-contain {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0, 0.7);
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-contain {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    justify-content: space-between;
}
.footer-contain h1 {
    color: rgba(255, 255, 255, 0.75);
}

.todo-block {
    width: 500px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(218, 218, 218);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

@media screen and (max-width: 500px) {
    header {
        display: none;
    }
    header h1 {
        font-size: 20px;
        text-align: center;
    }
    header p {
        flex-wrap: wrap;
        text-align: center;
        width: 100px;
    }
    .todo-block {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
    }
    footer h1 {
        font-size: 20px;
        text-align: center;
    }
    footer p {
        flex-wrap: wrap;
        text-align: center;
        width: 100px;
    }

    .title-box h2 {
        font-size: 16px;
    }
    .title-box p {
        font-size: 14px;
        text-align: center;
    }
    .todo-added-contain {
        max-width: 100%;
    }
    .todo-added-contain input {
        min-width: 70%;
    }
    todo-added-contain button {
        min-width: 30%;
    }

    @media screen and (max-width: 300px) {
        .title-box p {
            width: 70px;
            font-size: 13px;
        }
        .todo-added-contain input::placeholder {
            font-size: 16px;
        }
    }
}
.title-box {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(29, 29, 29, 0.75);
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.title-box h2, p {
    padding-left: 15px;
    padding-right: 15px;
}

.material-symbols-outlined {
    cursor: pointer;
}

.todo-el-contain {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;
    backdrop-filter: blur(8px);
}

.todo-added-contain {
    width: 100%;
    height: 50px;

    display: flex;
}
.todo-added-contain input {
    width: 400px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(29, 29, 29, 0.75);
    color: rgba(255, 255, 255, 0.75);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.todo-added-contain input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.todo-added-contain button {
    background-color: rgb(255, 0, 119);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    width: 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.todo-added-contain button:hover {
    background-color: rgb(252, 48, 143);
    color: white;
    cursor: pointer;
}
.todo-added-contain button:active {
    background-color: rgb(194, 0, 90);
    color: white;
}

.todoEl {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(29, 0, 24); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.todoEl h2 {
    padding-left: 10px;
    color: rgb(51, 0, 42, 9);
    color: rgb(0, 0, 0);
    font-weight: 100;
}
.todoEl button {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 119);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.todoEl button:hover {
    background-color: rgb(252, 48, 143);
    color: white;
    cursor: pointer;
}
.todoEl button:active {
    background-color: rgb(194, 0, 90);
    color: white;
}


#emtySpan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
}

.todo-el-contain::-webkit-scrollbar {
    width: 12px;
  }
  .todo-el-contain::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.5);
  }
  .todo-el-contain::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px;
  }

  @keyframes addBtnPressed {
    0% {
        background-color: rgb(255, 0, 208);
    }
    100% {
        background-color: rgb(199, 40, 170);
    }
  }

  .btnAnimationPressedToggle {
    animation: addBtnPressed .1s;
  }